<template>
  <main class="main main-about">
    <div class="about-me">
        <img src="../assets/images/about-me.jpg" alt="About Me">
    </div>
    <div class="tabs">
        <div class="tab-box">
            <button
                v-for="(tab, index) in tabTitles"
                :key="index"
                class="tab-btn"
                :class="{ active: activeTab === index }"
                @click="changeTab(index)"
            >
                {{ tab }}
            </button>
            <div class="line" :style="{ width: lineWidth + 'px', left: linePosition + 'px' }"></div>
        </div>
        <div
            v-for="(content, index) in tabContents"
            :key="index"
            class="content-box"
        >
            <div class="tab-content" v-show="activeTab === index">
                <h2>{{ content.title }}</h2>
                <p>{{ content.text }}</p>
            </div>
        </div>
    </div>
  </main>
</template>

<script>
export default {
  data() {
    return {
      // definiranje stanja podataka komponente
      activeTab: 0,
      lineWidth: 0,
      linePosition: 0,
      tabTitles: ['History', 'Vision', 'About us'],
      tabContents: [
        {
          title: 'History',
          text: 'Lorem ipsum dolor sit amet. 33 ipsam quaerat et quae mollitia aut dolor error hic itaque consectetur ut sunt exercitationem. Ut vitae culpa est omnis porro et nisi quia et cupiditate itaque id praesentium enim quo libero modi. 33 voluptatem molestiae ut perspiciatis saepe qui tenetur consequatur et rerum commodi.'
        },
        {
          title: 'Vision',
          text: 'Lorem ipsum dolor sit amet. 33 ipsam quaerat et quae mollitia aut dolor error hic itaque consectetur ut sunt exercitationem. Ut vitae culpa est omnis porro et nisi quia et cupiditate itaque id praesentium enim quo libero modi. 33 voluptatem molestiae ut perspiciatis saepe qui tenetur consequatur et rerum commodi.'
        },
        {
          title: 'About us',
          text: 'Lorem ipsum dolor sit amet. 33 ipsam quaerat et quae mollitia aut dolor error hic itaque consectetur ut sunt exercitationem. Ut vitae culpa est omnis porro et nisi quia et cupiditate itaque id praesentium enim quo libero modi. 33 voluptatem molestiae ut perspiciatis saepe qui tenetur consequatur et rerum commodi.'
        }
      ]
    };
  },
  mounted() {
    this.setLineDimensions();
  },
  methods: {
    changeTab(index) {
      // postavljanje aktivnog tab-a
      this.activeTab = index;
      this.setLineDimensions();
    },
    setLineDimensions() {
      this.$nextTick(() => {
        // dohvacanje aktivnog tab-a
        const activeButton = this.$el.querySelectorAll('.tab-btn')[this.activeTab];
        // konfiguracija linije
        this.lineWidth = activeButton.offsetWidth;
        this.linePosition = activeButton.offsetLeft;
      });
    }
  }
};
</script>

<style>
.main {
  position: relative;
}

.main-about{
  height: calc(100vh - 210px);
  display: flex;
  justify-content: space-around;
  align-items: center; 
  
}

.about-me img{
  max-width: 500px;
  padding: 10px;
  border-radius: 20px;
}

.tabs{
  max-width: 600px;
  background-color: #f7f7f7;
  padding: 30px;
  box-shadow: 0 2px 16px rgba(0, 0, 0, 0.1);
  border-radius: 20px;
  margin: 10px;
}

.tab-box{
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-bottom: 2px solid rgba(0, 0, 0, 0.2);
  position: relative;
}

.tab-box .tab-btn{
  font-size: 18px;
  font-weight: 600;
  background-color: #f7f7f7;
  border: none;
  padding: 18px;
  cursor: pointer;
}

.tab-box .tab-btn.active{
  color: #ab4f8b;
}

.line{
  position: absolute;
  top: 56px;
  left: 48px;
  width: 100px;
  height: 5px;
  background-color: #ab4f8b;
  border-radius: 10px;
  transition: all 0.3s ease-in-out;
}

.content-box{
  padding: 0;
}

@media screen and (min-width: 769px){
  .main-about{
    height: calc(100vh - 210px);
  }
}

@media screen and (max-width: 1024px){
  .main-about{
    flex-direction: column;
  }

  .about-me img{
    max-width: 300px;
  }

  .line{
    position: absolute;
    top: 56px;
    left: 48px;
  }
}

@media screen and (max-width: 400px){
  .main-about{
    height: calc(100vh - 130px);
  }
}

@media screen and (max-width: 381px){
  .line{  
    top: 76px;
    left: 38px;
  }
}
</style>