<template>
    <main class="main main-cart">
      <section class="section secondary-color-bg">
        <div class="centered-container">
          <h1 class="font-secondary main-color">Promo Code: -20%</h1>
          <input v-model="promoCodeInput" id="promo-code-text" type="text" placeholder="Enter promo code">
          <button @click="changeCodeState">Submit</button>
          <h2 class="font-secondary main-color">{{ promoCodeStatus }}</h2>
          <div class="separator"></div>
        </div>

        <div class="centered-container">
          <h1 class="font-secondary main-color"><span class="main-color-emphasized">Shopping cart</span> items</h1>
          <div class="separator"></div>
        </div>
      </section>
        
      <section class="secondary-color-bg shopping-cart">
        <div class="cart-header">
          <h4 class="cart-header-title">Product</h4>
          <h4 class="cart-header-title">Price</h4>
          <h4 class="cart-header-title">Quantity</h4>
        </div>

        <div v-for="product in displayedProducts" :key="product.id" class="cart-item">
          <div class="cart-item-title">{{ product.name }}</div>
          <div class="cart-item-price">{{ isDiscounted ? (product.price * 0.8).toFixed(2) : product.price }} €</div>
          <input v-model.number="product.quantity" type="number" min="0" class="cart-item-quantity">
          <button @click="removeFromCart(product.id)">X</button>
        </div>        
      </section>
    </main>
</template>

<script>
export default {
  data() {
    return {
      // inicijalizacija stranice
      promoCodeInput: '',
      cart: this.getCartFromLocalStorage(),
      promoCodeStatus: 'Discount not applied.',
      products: [],
      displayedProducts: [] 
    };
  },
  computed: {
    isDiscounted() {
      // provjera stanja promo code-a (true/false)
      return JSON.parse(localStorage.getItem("code")) === true;
    }
  },
  methods: {
    getCartFromLocalStorage() {
      // dohvacanje cart-a iz localStorage-a
      const mapString = localStorage.getItem("cart");
      return mapString ? new Map(JSON.parse(mapString)) : new Map();
    },
    async changeCodeState() {
      // provjera ispravnosti promo code-a i postavljanje na localStorage
      const codeValue = this.promoCodeInput === "KSLUNA01";
      localStorage.setItem("code", codeValue);
      await this.getDataCart();
    },
    async getDataCart() {
      // dohvacanje proizvoda iz json-a
      const response = await fetch("flowerShop.json");
      const data = await response.json();
      this.products = data.products; // pohrana proizvoda iz json-a u ovu komponentu

      // izdvajanje odabranih proizvoda
      this.displayedProducts = Array.from(this.cart.keys()).map(id => {
        const product = this.products.find(p => p.id == id);
        return {
          ...product,
          quantity: this.cart.get(id),
          discountedPrice: this.isDiscounted ? product.price * 0.8 : product.price
        };
      });

      this.promoCodeStatus = this.isDiscounted ? "20% Discount applied. Enjoy!" : "Discount not applied.";
    },
    removeFromCart(id){
      // dohvacanje cart-a iz localStorage-a
      let mapString = localStorage.getItem("cart");
      let map = new Map(JSON.parse(mapString));
      // dohvacanje kolicine proizvoda koju zelimo umanjiti za 1
      let counter = map.get(id);
      // trazenje index-a liste na kojoj se nalazi odredeni proizvod
      const displayedProductIndex = this.displayedProducts.findIndex(p => p.id == id);
      // provjera postoji li proizvod u displayedProducts
      if (displayedProductIndex > -1) {
        if (counter > 1) {
          // smanjenje kolicine odredenog proizvoda u cart-u za 1
          counter--;
          map.set(id, counter);
          this.displayedProducts[displayedProductIndex].quantity = counter; // azuriranje kolicine proizvoda u displayedProducts
        } else {
          // brisanje proizvoda iz cart-a
          map.delete(id);
          this.displayedProducts.splice(displayedProductIndex, 1); // micanje proizvoda iz displayedProducts
        }
      }

      // postavljanje carta na localStorage
      mapString = JSON.stringify([...map]);
      localStorage.setItem("cart", mapString);

      window.dispatchEvent(new Event('cartUpdated'));
    }
  },
  created() {
    this.getDataCart();
  }
};
</script> 

<style>
.main {
  position: relative;
}

.main-cart{
  height: calc(100vh - 210px);
}
  
.main-color {
  color: #e0aacd;
}

.font-secondary {
  font-family: 'Dancing Script', cursive;
}

.section {
  overflow: auto;
}

.shopping-cart {
  margin: auto;
  max-width: 30%;
  padding: 0 10px;
}

.centered-container {
  text-align: center;
}

.separator {
  max-width: 200px;
  margin: auto;
  height: 20px;
  border-width: 3px;
  border-style: solid;
  border-color: #e0aacd;
  border-radius: 5px;
  background-image: url("../assets/images/dot.png");
  background-size: 10px;
  background-repeat: repeat-x;
  background-position: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

.cart-item,
.cart-header {
  display: flex;
  flex-flow: row wrap;
}

.cart-item-title,
.cart-header-title {
  flex: 1;
  color: #ab4f8b;
}

.cart-item-quantity {
  flex: 1;
  max-width: 30px;
}

.cart-header {
  border-bottom: 1px solid #e0aacd;
  color: #ab4f8b;
  font-weight: bold;
  margin-bottom: 10px;
  text-align: center;
}

.cart-item-price {
  flex: 1;
}

@media screen and (max-width: 1024px){
  .shopping-cart {
    margin: auto;
    max-width: 50%;
    padding: 0 10px;
  }
}

@media screen and (max-width: 768px){
  .shopping-cart {
    margin: auto;
    max-width: 70%;
    padding: 0 10px;
  }
}

@media screen and (max-width: 600px){
  .shopping-cart {
    margin: auto;
    max-width: 80%;
    padding: 0 10px;
  }
}
</style>
