<template>
    <main class="main">
        <section class="section secondary-color-bg">
            <div class="container slideshow">
                <img
                    v-for="(image, index) in images"
                    :key="index"
                    class="scaled-image"
                    :src="image.src"
                    :alt="'Image ' + (index + 1)"
                    :style="{ display: currentIndex === index ? 'block' : 'none' }"
                />
            </div>
        </section>

        <section class="section primary-color-bg">
            <div class="container">
                <div class="centered-container">
                    <h1 class="decorated-title font-secondary main-color">The <span class="main-color-emphasized">
                            Whole</span> Story</h1>
                    <div class="separator"></div>
                    <h2 class="decorated-subtitle main-color">We want to show the world what <em
                            class="main-color-emphasized">flower power</em> smells like</h2>
                </div>
                <div class="container-grid container-grid-thirds">
                    <p>
                        <img class="badge-image" src="../assets/images/ribbon.png" alt="Best flowers award">


                        Life without plants and flowers is unthinkable. The awakening of nature in the spring is a
                        delight for the eyes.
                        The bees are hard working and with their buzzing they complement the spring atmosphere.
                        Flowers reward us for our efforts in the garden with its color, scent and beauty.
                        It's a wonderful feeling when the plants we care for bloom.
                        Enjoy the view as the spring sun keeps you warm.
                        That is why many say that spring is the most beautiful season!

                        <a class="link" href="#">Read more here</a>
                    </p>
                    <div class="summary">
                        <h3 class="summary-title main-color-emphasized font-secondary"> Best flowers in Zagreb</h3>
                        <p class="summary-content"> Life begins the day you start a garden. - A Chinese proverb </p>

                    </div>
                </div>
            </div>
            <div class="container">
                <div class="separator"></div>
            </div>
            <section class="section container">
                <div class="container-grid container-grid-halves">
                    <div class="news">
                        <h3 class="main-color font-secondary news-title "> News, Events &amp; Such</h3>
                        <div class="infobox infobox-news">
                            <h4 class="infobox-title main-color-emphasized">
                                Beautiful new flowers
                            </h4>
                            <h5 class="infobox-subtitle main-color-emphasized">
                                January 25, 2020
                            </h5>
                            <p class="infobox-content">
                                New arrivals in our store! Many more beautiful new flowers are now available. We can't
                                wait for you to check them out.
                            </p>
                            <a class="link infobox-link" href="#">Read more</a>
                        </div>
                        <div class="infobox infobox-calendar">
                            <h4 class="infobox-title main-color-emphasized">
                                Flower workshop on Tuesday
                            </h4>
                            <h5 class="infobox-subtitle main-color-emphasized">
                                January 25, 2020
                            </h5>
                            <p class="infobox-content">
                                Workshop on proper care of various flower species. Focused on the beautiful orchids and
                                how to maintain your blue orchid.
                            </p>
                            <a class="link infobox-link" href="#">Read more</a>
                        </div>
                    </div>
                    <div class="vertical-center">
                        <img class="last-flower" src="../assets/images/chrysanthemum.jpg" alt="Blue Chrysanthemum image">
                    </div>


                </div>
            </section>
            <div class="separator"></div>
        </section>
    </main>
</template>

<script>
export default {
  data() {
    return {
      images: [
        { src: require('../assets/images/wild-flowers.jpg') },
        { src: require('../assets/images/3984185.jpg') },
        { src: require('../assets/images/beautiful-background-roses-valentine-s-day.jpg') }
      ],
      currentIndex: 0
    };
  },
  methods: {
    showImage(index) {
      // prikaz slike koja je na redu
      this.currentIndex = index;
    },
    nextImage() {
      // prebacivanje na iducu sliku
      this.currentIndex++;
      if (this.currentIndex >= this.images.length) {
        this.currentIndex = 0;
      }
      this.showImage(this.currentIndex);
    },
    startSlideshow() {
      setInterval(this.nextImage, 2000); // promjena slike svakih 2 sekunde (2000 milisekundi)
    }
  },
  mounted() {
    this.showImage(this.currentIndex);
    this.startSlideshow();
  }
};
</script>

<style>
.main {
  position: relative;
}

.section {
  overflow: auto;
}

.primary-color-bg {
  background-color: #f7f7f7;
}

.secondary-color-bg {
  background-color: #ffffff;
}

.container {
  margin: auto;
  max-width: 700px;
  padding: 0 10px;
}

.slideshow{
  max-height:310px;
}

.section.secondary-color-bg {
  position: relative;
  max-width: 100%;
  margin: auto;
}

.scaled-image {
  display: none;
  width: 100%;
  height: auto;
  object-fit: cover;
}

.centered-container {
  text-align: center;
}

.font-secondary {
  font-family: 'Dancing Script', cursive;
}

.main-color {
  color: #e0aacd;
}

.main-color-emphasized {
  color: #ab4f8b;
}

.separator {
  max-width: 200px;
  margin: auto;
  height: 20px;
  border-width: 3px;
  border-style: solid;
  border-color: #e0aacd;
  border-radius: 5px;
  background-image: url("../assets/images/dot.png");
  background-size: 10px;
  background-repeat: repeat-x;
  background-position: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

.container-grid {
  display: grid;
  grid-gap: 20px;
}

.container-grid-thirds {
  grid-template-columns: 2fr 1fr;
}

@media only screen and (max-width: 1280px) {
  .container-grid-thirds {
    display: block;
  }
}

.container-grid-halves {
  grid-template-columns: 1fr 1fr;
}

@media only screen and (max-width: 1280px) {
  .container-grid-halves {
    display: block;
  }
}

.badge-image {
  width: auto;
  height: 150px;
  float: right;
}

.link {
  color: #e0aacd;
  text-decoration: none;
  outline: none;
}

.summary {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.summary-title {
  font-weight: bold;
  font-size: 30px;
  margin: 0;
}

.news-title {
  font-size: 30px;
}

.infobox-news {
  background-image: url("../assets/images/news-icon.png");
}

.infobox-subtitle {
  margin: 0.5em 0 0.5em 0;
}

.infobox-content {
  margin: 0 0.5em;
}

.infobox-link {
  margin: 0 0.5em;
}

.infobox-calendar {
  background-image: url("../assets/images/calendar-icon.png");
}

.vertical-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.last-flower{
  display: block;
  max-width: 100%;
  max-height: 100%;
}
</style>