<template>
  <div>
      <section v-for="category in categories" :key="category.id" class="section secondary-color-bg">
        <div class="centered-container">
          <h1 class="decorated-title font-secondary main-color">
            <span class="main-color-emphasized">{{ category.name }}</span>
            Inventory
          </h1>
          <div class="separator"></div>
        </div>
        <div class="gallery">
          <div 
            v-for="product in filteredProducts(category.id)" 
            :key="product.id" 
            class="photo-box" 
            :data-id="product.id">
            
            <img class="photo-box-image" :src="getImageUrl(product.imageUrl)" alt="Product Image">
            
            <div class="photo-box-title font-secondary main-color-emphasized">{{ product.name }}</div>
            <div class="cart-btn" @click="addToCart(product.id)"></div>
          </div>
        </div>
      </section>
    </div>
</template>

<script>
export default {
  data() {
    return {
      categories: [],
      products: []
    };
  },
  created() {
    this.getData();
  },
  methods: {
    async getData() {
      // dohvacanje json-a
      const response = await fetch("/flowerShop.json");
      const data = await response.json();
      // postavljanje kategorija i proizvoda iz json-a u ovu komponentu
      this.categories = data.categories;
      this.products = data.products;      
    },
    filteredProducts(categoryId) {
      // izdvajanje proizvoda odredene kategorije
      return this.products.filter(product => product.categoryId === categoryId);
    },
    addToCart(id) {
      // ako nista nije dodano u cart 
      // kreiranje mape s kljucem cart u localStorage-u
      if (!localStorage.getItem("cart")) {
          let newMap = new Map([[id, 1]]);
          let newMapString = JSON.stringify([...newMap]);
          localStorage.setItem("cart", newMapString);
      } else {
          // ako proizvod vec popstoji u cart-u dodavanje 1
          // ako proizvod ne postoji, dodavanje proizvoda u cart
          let mapString = localStorage.getItem("cart");
          let map = new Map(JSON.parse(mapString));
          if (!map.has(id)) {
            map.set(id, 1);
          } else {
            let counter = map.get(id);
            counter++;
            map.set(id, counter);
          }
          // postavljanje cart-a u localStorage
          mapString = JSON.stringify([...map]);
          localStorage.setItem("cart", mapString);
      }

    window.dispatchEvent(new Event('cartUpdated'));
  },
  getImageUrl(filename) {
    // dohvacanje slike za odredeni proizvod
    return require(`@/assets/images/${filename}`);
  }
  }
};
</script>

<style>
.centered-container {
  text-align: center;
}

.section {
  overflow: auto;
}

.secondary-color-bg {
  background-color: #ffffff;
}

.font-secondary {
  font-family: 'Dancing Script', cursive;
}

.main-color {
  color: #e0aacd;
}

.main-color-emphasized {
  color: #ab4f8b;
}

.separator {
  max-width: 200px;
  margin: auto;
  height: 20px;
  border-width: 3px;
  border-style: solid;
  border-color: #e0aacd;
  border-radius: 5px;
  background-image: url("../assets/images/dot.png");
  background-size: 10px;
  background-repeat: repeat-x;
  background-position: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-bottom: 1em;
}

.photo-box {
  text-align: center;
  padding: 0 4px 10px 4px;
}

.photo-box-title {
  font-size: 30px;
}

.photo-box-image {
  width: 200px;
  height: 200px;
  background-color: #e0aacd;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin: auto;
  object-fit: cover;
}

.cart-btn {
  cursor: pointer;
  background-image: url("../assets/images/cart-icon.svg");
  width: 30px;
  height: 30px;
  margin: auto;
}

.cart-btn:hover {
  opacity: 0.3;
}
</style>