<template>
    <footer class="footer">
      <div class="infobox infobox-marginless infobox-flower">
        <h4 class="infobox-title infobox-title-secondary-color">
          Have a nice day!
        </h4>
      </div>
      <div class="infobox infobox-marginless infobox-flower">
        <h4 class="infobox-title infobox-title-secondary-color">
          Flower power
        </h4>
      </div>
    </footer>
</template>

<style>
.footer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: #ab4f8b;
}

.infobox {
  padding-left: 40px;
  background-position: top left;
  background-size: 30px auto;
  background-repeat: no-repeat;
  margin: 0 0 0.5em 0;
  overflow: auto;
}

.infobox-marginless {
  margin-bottom: 0;
}

.infobox-flower {
  background-image: url("../../assets/images/flower-icon.png");
}

.infobox-title {
  margin-top: 0.2em;
  margin-bottom: 0.5em;
}

.infobox-title-secondary-color {
  color: #ffffff;
}

</style>