<template>
  <div>
    <the-navigation></the-navigation>
    <main>
      <router-view></router-view>
    </main>
    <the-footer></the-footer>
  </div>
</template>

<script>
    import TheNavigation from './components/nav/TheNavigation.vue';
    import TheFooter from './components/footer/TheFooter.vue';

    export default{
        components:{
            TheNavigation,
            TheFooter
        }
    }
</script>
