<template>
  <header class="header primary-color-bg">
    <nav class="navigation">
      <div class="phone-screen">
        <router-link to="/home" class="logo-link">
          <img class="scaled-image-fixed" src="../../assets/images/logo.svg" alt="Company logo">
        </router-link>
        <div class="hamburger">
          <img v-if="menuState === 'menu'" class="hamburger-icon" name="menu" @click="toggleMenu" src="../../assets/images/menu-outline.svg">
          <img v-else-if="menuState === 'close'" class="hamburger-icon" name="menu" @click="toggleMenu" src="../../assets/images/close-outline.svg">
        </div>
      </div>

      <div :class="{ active: menuState === 'close' }" class="menu" id="navbar">
        <router-link to="/home" class="link link-active menu-item">Home</router-link>
        <router-link to="/order" class="link menu-item">Order</router-link>
        <router-link to="/aboutus" class="link menu-item">About Us</router-link>
        <router-link to="/cart" class="link menu-item cart-menu">
          <img src="../../assets/images/cart-icon.svg" alt="Cart icon">
          <div class="cart-menu-status">
            <div>{{ numberOfCartItems }}</div> 
            <div> items</div>
          </div>
        </router-link>
      </div>
    </nav>
  </header>
</template>

<script>
export default {
  data() {
    return {
      menuState: 'menu',
      numberOfCartItems: 0 // inicijalizacija proizvoda u cart-u na 0
    };
  },
  methods: {
    toggleMenu() {
      this.menuState = this.menuState === 'menu' ? 'close' : 'menu';
    },
    refreshNumberOfCartItems() {
      this.numberOfCartItems = this.getNumberOfCartItemsFromLocalStorage();
    },
    getNumberOfCartItemsFromLocalStorage() {
      const mapString = localStorage.getItem("cart");
      const cart = mapString ? new Map(JSON.parse(mapString)) : new Map();
      return Array.from(cart.values()).reduce((acc, curr) => acc + curr, 0);
    }
  },
  created() {
    this.refreshNumberOfCartItems(); // pozivanje metode kada je komponenta kreirana

    window.addEventListener('cartUpdated', this.refreshNumberOfCartItems);
  },
  beforeUnmount() {
    window.removeEventListener('cartUpdated', this.refreshNumberOfCartItems);
  }
};

</script>


<style>
body {
  margin: 0;
}

.primary-color-bg {
  background-color: #f7f7f7;
}

.navigation {
  margin: 0;
  padding: 0 50px;
  display: flex;
  justify-content: space-between;
}

.phone-screen{
  display: flex;
  justify-content: space-between;
}
  
.hamburger {
  display: none;
}

.menu {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.menu-distributed {
  justify-content: space-around;
}

.menu-item {
  text-transform: uppercase;
  padding: 20px;
}

.scaled-image-fixed {
  display: block;
  width: 200px;
}


.cart-menu img {
  opacity: 0.5;
}

.cart-menu:hover img, .cart-menu-active img {
  opacity: 1;
}

.cart-menu-status {
  display: flex;
}

.cart-menu-status div {
  padding: 2px;
}

.link {
  color: #e0aacd;
  text-decoration: none;
  outline: none;
}

.link:hover {
  color: #ab4f8b;
  text-decoration: none;
}

.link-active {
  text-decoration: underline;
  color: #ab4f8b;
}
@media screen and (max-width: 1024px) {
  .navigation{
      display: flex;
      flex-direction: column;
  }    

  .phone-screen{
      align-items: center;
  }

  .menu{
      position:relative;
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      height: 0;
      top: -120px;
  }

  .menu.active {
      height: auto;
      top: 0;
  }

  .hamburger{
      display: block;
  }

  .hamburger-icon{
      height: 50px;
  }
}
</style>